<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <MarioSAM_AutoCompletar>
            <version>0.0.1</version>
        </MarioSAM_AutoCompletar>
    </modules>
    <frontend>
        <routers>
            <autocompletar>
                <use>standard</use>
                <args>
                    <module>MarioSAM_AutoCompletar</module>
                    <frontName>autocompletar</frontName>
                </args>
            </autocompletar>
        </routers>
    </frontend>
</config>
